<% content_for :modal_content do %>
<div id="form-placeholder"></div>
<% end %>

<div class="row">
  <div class="col-md-12">
    <h3>Listing Hunting Location Schedules</h3>

    <%= render :partial => 'index_table', locals: { hunting_location_schedules: @hunting_location_schedules } %>

    <div id="inline-form"></div>

    <%= link_to 'New Hunting Location Schedule', new_hunting_location_schedule_path, { remote: true, class: 'btn btn-default', id:'add-item-button' } %>
  </div>
</div>
