<% content_for :modal_content do %>
<div id="form-placeholder"></div>
<% end %>

<div class="row">
  <div class="col-md-12">
    <h3>Listing Animal Activity Observations</h3>

    <%= render :partial => 'index_table', locals: { animal_activity_observations: @animal_activity_observations } %>

    <div id="inline-form"></div>

    <%= link_to 'New Animal Activity Observation', new_animal_activity_observation_path(:hunting_plot_id => @hunting_plot.id), { remote: true, class: 'btn btn-default', id:'add-item-button' } %>
  </div>
</div>
