<div class="row">
  <div class="col-md-12">
    <input name="hunting_location_reservation[start_time]" class="form-control" id="hunting_location_reservation_start_time" type="time" value="08:00:00.000" data-enabled-value="time_period_custom" data-enabled-by="hunting_location_reservation[time_period]">
  </div>
</div>
