<% content_for :head do %>
<style>
.main {
  position: relative;
  border: 1px solid #333;
  width: 100%;
}
.textbox {
  background-color:grey;
  overflow:hidden;
  position:relative;
}
.textbox input {
  width: 100%;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}
input[type="submit"] {
  float:right
}
</style>
<script type="text/javascript">
/*
$(document).ready(
  function () {
    var today = new Date();
    var startDate = new Date(today.getFullYear(), today.getMonth(), 1, 0, 0, 0);
    var startDayOffset = startDate.getDay();
    var tbody = document.getElementById('calendar').tBodies[0];
    var currentDate = startDate;
    var startMonth = startDate.getMonth();
    while (currentDate.getMonth() == startMonth) {
      var dayOfMonth = currentDate.getDate();
      var dayOfWeek = currentDate.getDay();
      var week = Math.floor((startDayOffset + dayOfMonth - 1) / 7);
      var column = (startDayOffset + dayOfMonth) % 7;
      $(tbody.rows[week].cells[dayOfWeek]).find('span[class="date"]').text(dayOfMonth);
      currentDate.setDate(currentDate.getDate() + 1);
    }
  }
);
*/
</script>
<% end %>

<div class="main">
  <input type="submit" value="Go" class="go"/>
  <div class="textbox">
    <input type="text" />
  </div>
</div>
