<% content_for :head do %>
<script type="text/javascript">
$(document).ready(function() { $('#extendFeedButton').click( function() { extendFeed(); } ) } );
function extendFeed() {
  var lastPostId = $('#user-post-feed div.feed-item').last().data("postid");
  $.getScript("<%= feed_items_user_posts_path(format:'js') %>" + "?before_id=" + lastPostId);
}
function refreshFeed(error) {
  var lastPostId = $('#user-post-feed div.feed-item').first().data("postid");
  $.getScript("<%= feed_items_user_posts_path(format:'js') %>" + "?since_id=" + lastPostId);
}
function rebuildFeed() {
  $.getScript("<%= feed_items_user_posts_path(format:'js') %>");
}
var g_userPostAjaxNotifications = new AjaxNotifications();
g_userPostAjaxNotifications.addListener(
  null,
  function(action, json) {
    switch (action) {
      case 'create':
        refreshFeed();
        break;
      case 'update':
        break;
      case 'delete':
        break;
    }
  }
);
</script>
<% end %>

<div id="user-post-feed" class="feed-panel">
  <%= render :partial => '/user_posts/feed_item', :collection => @user_posts, :as => :user_post %>
</div>
<a href="#" id="extendFeedButton">Older posts...</a>
