<% content_for :modal_content do %>
<div id="form-placeholder"></div>
<% end %>

<div class="row">
  <div class="col-md-12">
    <h3>Listing User Posts</h3>

    <table class="table">
      <thead>
        <tr>
          <th>Created by</th>
          <th>Post content</th>
          <th>Visibility</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody id='items-tbody'>
        <%= render :partial => 'index_item', :collection => @user_posts, :as => :user_post %>
      </tbody>
    </table>

    <div id="inline-form"></div>

    <%= link_to 'New User Post', new_user_post_path, { remote: true, class: 'btn btn-default', id:'add-item-button' } %>
  </div>
</div>
