<%= content_for :head do %>
<script type="text/javascript">
var UserInvitationTableHelper = new TableHelper('table[data-component="UserInvitation"]');
</script>
<% end %>
<%
# initialize any undefined local variables
attribute_list ||= nil
unless defined?(editable)
  editable = true
end
%>
<table class="table" data-component="UserInvitation">
  <thead>
    <tr>
      <% if (attribute_list.nil? || attribute_list.include?(:email)) %>
        <th>Email</th>
      <% end %>
      <% if (attribute_list.nil? || attribute_list.include?(:created_by_id)) %>
        <th>Created by</th>
      <% end %>
      <% if (attribute_list.nil? || attribute_list.include?(:message)) %>
        <th>Message</th>
      <% end %>
      <% if (attribute_list.nil? || attribute_list.include?(:status)) %>
        <th>Status</th>
      <% end %>
      <th></th>
    </tr>
  </thead>

  <tbody id='items-tbody'>
    <%= render :partial => 'user_invitations/index_item', :collection => user_invitations, :as => :user_invitation, locals: { attribute_list: attribute_list, editable: editable } %>
  </tbody>
</table>
