<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You have been invited by <%= @invite_from%> to join the <%= @plot_name %> hunting plot.</p>
    <p>Click on the link below to accept the invitation</p>
    <p><%= review_hunting_plot_user_access_requests_path(only_path: false) %></p>
  </body>
</html>
