<% content_for :modal_content do %>
<div id="form-placeholder"></div>
<% end %>

<div class="row">
  <div class="col-md-12">
    <h3>Listing User Network Boundaries</h3>

    <%= render :partial => 'index_table', locals: { user_network_boundaries: @user_network_boundaries } %>

    <div id="inline-form"></div>

    <%= link_to 'New User Network Boundary', new_user_network_boundary_path, { remote: true, class: 'btn btn-default', id:'add-item-button' } %>
  </div>
</div>
