<% provide(:page_id, :user_groups) %>
<% provide(:page_label, 'User Groups') %>

<div class="panel panel-default">
  <div class="panel-heading">
    <span class="panel-title">User Groups |</span>
    <%= link_to combine_tags(bootstrap_glyphicon('plus-sign'), ' New Group'), new_hunting_plot_user_group_path(@hunting_plot), { remote: true, class: 'btn btn-link btn-sm' } %>
  </div>
  <div class="panel-body">
    <%= render partial:'user_groups/index_table', :locals => { :user_groups => @user_groups } %>
  </div>
</div>
