<div class="row">
  <div class="col-md-12">
    <%= bootstrap_form_tag url: new_friend_path, remote: true do |form| %>
      <%= _search_field(form, :name, 'Name', 100) %>
      <%= _submit_button(form, nil, 'Search', { name: nil } ) %>
    <% end %>
  </div>
</div>
