<% content_for :modal_content do %>
<div id="form-placeholder"></div>
<% end %>

<div class="row">
  <div class="col-md-12">
    <h3>Listing Hunting Mode User Statuses</h3>

    <%= render :partial => 'index_table', locals: { hunting_mode_user_statuses: @hunting_mode_user_statuses } %>

    <div id="inline-form"></div>

    <%= link_to 'New Hunting Mode User Status', new_hunting_mode_user_status_path, { remote: true, class: 'btn btn-default', id:'add-item-button' } %>
  </div>
</div>
