<%= content_for :head do %>
<script type="text/javascript">
var HuntingPlotUserAccessRequestTableHelper = new TableHelper('table[data-component="HuntingPlotUserAccessRequest"]');
</script>
<% end %>
<%
# initialize any undefined local variables
attribute_list ||= HuntingPlotUserAccessesHelper.index_default_attribute_list
unless defined?(editable)
  editable = true
end
%>
<table class="table" data-component="HuntingPlotUserAccessRequest">
  <thead>
    <tr>
      <% if attribute_list.include?(:user_id) %>
        <th>User</th>
      <% end %>
      <% if attribute_list.include?(:user_invitation_id) %>
        <th>User invitation</th>
      <% end %>
      <% if attribute_list.include?(:user_email) %>
        <th>User Email</th>
      <% end %>
      <% if attribute_list.include?(:hunting_plot_id) %>
        <th>Hunting plot</th>
      <% end %>
      <% if attribute_list.include?(:message) %>
        <th>Message</th>
      <% end %>
      <% if attribute_list.include?(:alias) %>
        <th>Alias</th>
      <% end %>
      <% if attribute_list.include?(:initial_permissions) %>
        <th>Initial permissions</th>
      <% end %>
      <% if attribute_list.include?(:created_by_user_id) %>
        <th>Created by user</th>
      <% end %>
      <th></th>
    </tr>
  </thead>

  <tbody id='items-tbody'>
    <%= render :partial => 'hunting_plot_user_access_requests/index_item', :collection => hunting_plot_user_access_requests, :as => :hunting_plot_user_access_request, locals: { attribute_list: attribute_list, editable: editable } %>
  </tbody>
</table>
