<div data-role="collapsibleset" data-mini="true" data-theme="a" data-content-theme="a">
  <div data-role="collapsible" data-collapsed="false">
    <h3>My Status</h3>
    <p>I'm the collapsible content for section 1</p>
  </div>
  <div data-role="collapsible">
    <h3>Plot Members</h3>
    <p>I'm the collapsible content for section 2</p>
  </div>
  <div data-role="collapsible">
    <h3>Forecast</h3>
    <p>I'm the collapsible content for section 3</p>
  </div>
  <div data-role="collapsible">
    <h3>Deer Sighting</h3>
    <div class="ui-field-contain">
      <label for="select-custom-1">Activity</label>
      <select name="select-custom-1" id="select-custom-1" data-native-menu="false">
        <option value="1">Spotted a buck</option>
        <option value="2">Spotted a doe</option>
        <option value="3">??</option>
        <option value="4">??</option>
      </select>
    </div>
  </div>
</div>

