<% content_for :panels do %>
<div data-role="panel" data-display="overlay" data-position="right" id="map-options-panel" class="right-align-panel">
  <ul data-role="listview">
    <li>
      <label>
        <input name="satellite-checkbox" id="satellite-checkbox" type="checkbox" data-role="flipswitch"> Satellite Imagery
      </label>
    </li>
    <li>
      <label>
        <input name="members-checkbox" id="members-checkbox" type="checkbox" data-role="flipswitch" checked="true"> Members <%= image_tag 'user_pin.png', size:'24x24' %>
      </label>
    </li>
    <li>
      <label>
        <input name="stands-checkbox" id="stands-checkbox" type="checkbox" data-role="flipswitch" checked="true"> Stands <%= image_tag 'hunting_location_available_32.png', size:'16x16' %>
      </label>
    </li>
    <li>
      <label>
        <input name="wind-forecast-checkbox" id="wind-forecast-checkbox" type="checkbox" data-role="flipswitch" checked="true"> Wind Conditions
      </label>
    </li>
  </ul>
  <a href="#header" data-rel="close" class="ui-btn ui-icon-delete ui-btn-icon-left" id="map-options-close-button">Close</a>
</div>
<% end %>
<div id="plot-map-canvas" style="width:100%;height:100%;">Loading, please wait...</div>
<div id="map-options-popup" style="position:absolute; right: 0px;top: 100px;">
  <a class="ui-btn ui-btn-inline" href="#map-options-panel" title="Display Options" data-role="button"><%= image_tag 'layers.svg' %></a>
</div>

<div id="map-wind-indicator" style="position: absolute; right: 0px; bottom: 25px;">
  <a class="ui-btn ui-btn-inline" href="#wind-indicator-popup" data-transition="pop" data-rel="popup" style="padding:0.25em;">
    <svg id="windIndicatorSvg" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
      <defs>
        <marker id="Arrow" markerWidth="10" markerHeight="10" viewBox="-6 -6 12 12" refX="-2" refY="0" markerUnits="strokeWidth" orient="auto">
          <polygon points="-3,0 -4,4 4,0 -4,-4" fill="black" stroke="none" stroke-width="1px"/>
        </marker>
      </defs>
      <circle id="mycircle" fill="none" stroke="black" cx="25" cy="25" r="20" stroke-width="2px" />
      <text id="windSpeed" x="25" y="30" fill="black" font-size="12" font-weight="bold" text-anchor="middle">12</text>
      <line id="windDirection" x1="25" y1="4" x2="25" y2="5" stroke="black" stroke-width="2px" marker-end="url(#Arrow)" transform="rotate(0 25 25)" />
    </svg>
  </a>
  <div id="wind-indicator-popup" data-role="popup">This is popup</div>
</div>

<div id="huntingLocationPopupDialog" data-role="popup" data-dismissible="false">
  <a class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right" href="#" data-rel="back">Close</a>
  <div data-role="header">
    <h1>Hunting Stand<br/><span id="location_name">Tripod</span></h1>
  </div>
  <div role="main" class="ui-content-padded">
    <p>Status: <span id="location_status">Available<span></p>
    <p>Additional Details</p>
    <a class="ui-btn ui-corner-all ui-shadow ui-btn-inline" href="#" data-rel="back" id="check-in-button">Check-in</a>
    <a class="ui-btn ui-corner-all ui-shadow ui-btn-inline" href="#" data-rel="back" id="reserve-button">Reserve</a>
  </div>
</div>
