<div id="plot-map-canvas" style="width:100%;height:100%;">Loading, please wait...</div>

<div id="plot-map-wind-indicator" style="position: absolute; right: 5px; top: 55px;">
  <a class="ui-btn ui-btn-inline" href="#wind-indicator-popup" data-transition="pop" data-rel="popup" style="padding:0.25em;">
    <svg id="windIndicatorSvg" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
      <defs>
        <marker id="Arrow" markerWidth="10" markerHeight="10" viewBox="-6 -6 12 12" refX="-2" refY="0" markerUnits="strokeWidth" orient="auto">
          <polygon points="-3,0 -4,4 4,0 -4,-4" fill="black" stroke="none" stroke-width="1px"></polygon>
        </marker>
      </defs>
      <circle id="mycircle" fill="none" stroke="black" cx="25" cy="25" r="20" stroke-width="2px"></circle>
      <text id="windSpeed" x="25" y="30" fill="black" font-size="12" font-weight="bold" text-anchor="middle">12</text>
      <line id="windDirection" x1="25" y1="4" x2="25" y2="5" stroke="black" stroke-width="2px" marker-end="url(#Arrow)" transform="rotate(0 25 25)"></line>
    </svg>
  </a>
  <div id="wind-indicator-popup" data-role="popup">This is popup</div>
</div>
