<% content_for :modal_content do %>
<div id="form-placeholder"></div>
<% end %>

<% content_for :head do %>
<script type="text/javascript">
$(document).ready(
  function() {
    $('#post_content_placeholder').focus(
      function(eventObject) {
        $.getScript("<%=  new_user_post_path(format:'js') %>")
      }
    );
  }
);

</script>
<% end %>

<div class="input-group">
  <input name="post_content_placeholder" class="form-control input-sm" id="post_content_placeholder" type="text" placeholder="Status update...">
  <div class="input-group-btn">
    <button class="btn btn-default btn-primary btn-sm" type="submit">Post</button>
  </div>
</div>
