<%
attribute_list ||= nil
unless defined?(editable)
  editable = true
end
%>
<table class="table">
  <thead>
    <tr>
      <% if (attribute_list.nil? || attribute_list.include?(:hunting_plot_id)) %><th>Hunting plot</th><% end %>
      <% if (attribute_list.nil? || attribute_list.include?(:name)) %><th>Name</th><% end %>
      <% if (attribute_list.nil? || attribute_list.include?(:coordinates)) %><th>Coordinates</th><% end %>
      <% if (attribute_list.nil? || attribute_list.include?(:location_type)) %><th>Location type</th><% end %>
      <% if editable %><th colspan="3"></th><% end %>
    </tr>
  </thead>

  <tbody id='items-tbody'>
    <%= render :partial => 'hunting_locations/index_item', :collection => hunting_locations, :as => :hunting_location, locals: { attribute_list: attribute_list, editable: editable } %>
  </tbody>
</table>
