<%= content_for :head do %>
<script type="text/javascript">
var HuntingLocationTableHelper = new TableHelper('table[data-component="HuntingLocation"]');
</script>
<% end %>
<%
attribute_list ||= HuntingLocationsHelper.index_attribute_list(params[:vantage])
unless defined?(read_only)
  read_only = false
end
%>
<%= provide(:item_command) do %>
Hi there
<% end %>
<table class="table" data-component="HuntingLocation">
  <thead>
    <tr>
      <% if attribute_list.include?(:hunting_plot_id) %><th>Hunting plot</th><% end %>
      <% if attribute_list.include?(:name) %><th>Name</th><% end %>
      <% if attribute_list.include?(:coordinates) %><th>Coordinates</th><% end %>
      <% if attribute_list.include?(:location_type) %><th>Location type</th><% end %>
      <% if attribute_list.include?(:access_flags) %><th>Access flags</th><% end %>
      <% if !read_only %><th></th><% end %>
    </tr>
  </thead>

  <tbody id='items-tbody'>
    <%= render :partial => 'hunting_locations/index_item', :collection => hunting_locations, :as => :hunting_location, locals: { attribute_list: attribute_list, read_only: read_only } %>
  </tbody>
</table>
