<%
	#include_plot ||= true
	#editable ||= true
	#include_plot = true unless defined?(include_plot)
	if !defined?(include_plot)
		include_plot = true
	end
	if !defined?(editable)
		editable = true
	end

%>
<table id="hunting-locations" class="table table-condensed table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <% if include_plot %>
      <th>Hunting plot</th>
      <% end %>
      <th>Type</th>
      <% if editable %>
      <th colspan="3" class="list-command" /></th>
      <% else %>
      <th class="list-command"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% hunting_locations.each do |hunting_location| %>
    <%= render partial:'/hunting_locations/index_item', :locals => { :hunting_location => hunting_location, :include_plot => include_plot, :editable => editable } %>
    <% end %>
  </tbody>

</table>
