<h3>Listing Hunting Locations</h3>

<% if @hunting_locations.any? %>
<%= render partial:'items_list', :locals => { :hunting_locations => @hunting_locations } %>
<% end %>

<br>

<%= link_to 'New Hunting location', new_hunting_location_path %>
