<% content_for :modal_content do %>
<div id="form-placeholder"></div>
<% end %>

<div class="row">
  <div class="col-md-12">
    <h3>Listing Hunting Locations</h3>

    <%= render :partial => 'index_table', locals: { hunting_locations: @hunting_locations } %>

    <div id="inline-form"></div>

    <%= link_to 'New Hunting Location', new_hunting_plot_hunting_location_path(@hunting_plot), { remote: true, class: 'btn btn-default', id:'add-item-button' } %>
  </div>
</div>
