<div class="row">
  <div class="col-md-12">
    <h4>New Hunting Location</h4>
    <%= render :partial => 'form', :locals => { is_modal: false, hunting_location: @hunting_location } %>
  </div>
</div>
