<% content_for :modal_content do %>
<div id="form-placeholder"></div>
<% end %>

<div class="row">
  <div class="col-md-12">
    <h3>Listing Hunting Plot Named Animals</h3>

    <table class="table">
      <thead>
        <tr>
          <th>Hunting plot</th>
          <th>Name</th>
          <th>Animal category</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody id='items-tbody'>
        <%= render :partial => 'index_item', :collection => @hunting_plot_named_animals, :as => :hunting_plot_named_animal %>
      </tbody>
    </table>

    <div id="inline-form"></div>

    <%= link_to 'New Hunting Plot Named Animal', new_hunting_plot_named_animal_path, { remote: true, class: 'btn btn-default', id:'add-item-button' } %>
  </div>
</div>
