<% content_for(:head) do %>
<script type="text/javascript">
$(document).ready(
  function() {
    InteractiveForms.initializeFields();
  }
);
</script>
<% end %>
<div class="row">
  <div class="col-md-12">
    <h3>New Hunting Stand Reservation</h3>
    <%= render 'form' %>
  </div>
</div>
