// *= require jquery.mobile

div.content-panel {
  /*
  height: 100%;
  width: 100%;
  */
  display: none;
  padding: 1em;
}
div.content-panel-active {
  display: block;
}
div.ui-content {
  padding:0;
}

.ui-header .ui-title {
  margin: 0 20%;
}

.hourly-forecast-item {
  div, p {
    font-size: 8pt !important;
  }
  > div, > p {
    float: left;
    margin-top:0;
    margin-bottom:0;
    vertical-align:text-top;
  }
  div.hfi-details {
    clear: both;
    border-top: 1px solid #aaaaaa;
  }
  div.hfi-forecast > div.hfi-details > div {
    float:left;
    margin-right: 0.5em;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align:text-top;
    p {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  .hfi-time {
    font-weight: bold;
    width: 6ex;
  }
  p.hfi-temp {
    font-weight: bold;
    margin-top:0;
    margin-bottom:0;
    vertical-align:text-top;
  }
  p.hfi-temp:after {
    content: '\00B0 F';
  }
  .hfi-condition-icon {
    margin-top:0;
    margin-bottom:0;
  }
  .hfi-wind {
    p {
      margin-top:0;
      margin-bottom:0;
      vertical-align:text-top;
    }
  }
  .hfi-condition-text {
    margin: 0px !important;
  }
  .hfi-condition-icon {
    margin-right: 0.5em;
  }
  .hfi-description {
    P {
      float: left;
      margin-right: 0.5em;
    }
  }
  .hfi-label {
    font-weight: bold;
    color: #aaaaaa;
  }
  .hfi-label:after {
    content: ': ';
  }
  .hfi-pressure-indicator {
    font-weight: bold;
  }
}
