<% content_for :head do %>
<script type="text/javascript">
$(document).ready(
  function() {
    initializeAddSubscriptionsList();
  }
);
var g_currentSubscriptions = [ <% @current_subscriptions.each_with_index do |subscription, index| %><%= (index > 0 ? ',' : '') %><%= subscription.user_network_id %><% end %> ];
function initializeAddSubscriptionsList() {
  $('#available-networks ul li').each(
    function (index, element) {
      var networkId = parseInt($(element).data('networkid'));
      if ($.inArray(networkId, g_currentSubscriptions) >= 0) {
        $(element).hide();
      }
      else {
        $(element).show();
      }
    }
  );
}
</script>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">Current Subscriptions</div>
      <div class="panel-body" id="current-subscriptions">
      <%= render partial:'current_subscriptions_list', locals: { current_subscriptions: @current_subscriptions } %>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Add Subscriptions</div>
      <div class="panel-body" id='available-networks'>
      <%= render partial:'available_subscriptions_list', locals: { child_networks: @top_level_networks } %>
      </div>
    </div>
  </div>
</div>
