<% content_for :head do %>
	<style type="text/css">
		html { height: 100% }
		body {
			height: 100%;
			margin: 0;
			padding: 0;
			font-family: Arial;
			border: 0 none;
		}
		#map-canvas {
			width:100%;
			height:100%;
		}
	</style>
	<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnowDHg-PA5lxfTdQnwZMOht-iUjIjaIg&sensor=false"/></script>-->
	<script src="https://maps.googleapis.com/maps/api/js?sensor=false"/></script>
	<script type="text/javascript">
	var g_map = null;
	var g_marker = null;

	function initialize() {
		var location = { lat: <%=@hunting_plot.location_coordinates.y()%>, lng: <%=@hunting_plot.location_coordinates.x()%> };
		var mapOptions = {
			center: location
		};
		g_map = new MapsHelper("map-canvas", mapOptions);

		return;

		g_marker = new google.maps.Marker( { position: location, map: g_map, title:'<%=@hunting_plot.name%>' } );

		var locationDetails = { latLng: location, address: 'Unknown address' };

		//var locationTitle = 'Unknown address';
		geocoder = new google.maps.Geocoder();
		geocoder.geocode({'latLng': location}, function(results, status) {
			if (status == google.maps.GeocoderStatus.OK) {
				if (results[1]) {
					g_marker.setTitle(results[1].formatted_address);
				}
			}
			var infoWindow = new google.maps.InfoWindow();
			infoWindow.setContent(results[1].formatted_address)
			infoWindow.open(g_map, g_marker);
		});
	}
	$(document).ready(function() { initialize(); });
	</script>
<% end %>
<div id="map-canvas"></div>
