<ul class="nav nav-pills nav-stacked">
  <li role="presentation" class="active"><a href="#">Name &amp; Location</a></li>
  <li role="presentation"><a href="#">Locations</a></li>
  <li role="presentation"><a href="#">Members</a></li>
  <li role="presentation"><a href="#">Named Animals</a></li>
</ul>
